@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section addStyle{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .container-fluid {
            background: transparent;
        }
    </style>
}


@section title{
    Altin Ekipman
}

@section main{

    <div class="row bann leish1">
        <div class="col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-12">
            <p class="rappel_title">
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pdt20 text-justify">
            <img src="~/img/MG Enfeksiyonuna Karƒì Koruyucu Hekimlik.jpg" alt="Ana başlık" style="width:100%" /><br />
        </div>
    </div>




}


@section articleLinks{

}

