<style>
    .tv-icon {
        float: right;
        padding-right: 25px;
        position: relative;
        padding-top: 4%;
    }
</style>
<div class="container-fluid">
    <div class="row" style="margin-right: -30px;">
        <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 pdt30 logo" style="padding-left: 0px;padding-top: 0px;padding-right: 0px;">
            <a href="/" title="Accueil">
                <img src="/Content/theme/images/Logo.jpg" style="width: 70%;">
            </a>
            <p class="burgerNav">
                <img src="/Content/theme/images/burger.png">
            </p>
        </div>
        <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
            <img class="illus_right pull-right" src="~/Content/theme/images/bg_header.jpg" />
            <div class="clearfix"></div>
           
            <nav id="menu">
                <ul>

                    <a href="/Hakkımızda/Hakkımızda">
                        <li class="with_sub">
                            Hakkımızda  <img src="~/Content/theme/images/arrowyellow.png" />

                        </li>
                    </a>

                    <a href="/AltınServisler/AltınServisler">
                        <li class="with_sub">
                            ALTIN SERVİSLER <img src="~/Content/theme/images/arrowyellow.png" />

                        </li>
                    </a>
                    <a href="/Iletisim/Iletisim">
                    <li class="with_sub">
                        İLETİŞİM <img src="~/Content/theme/images/arrowyellow.png" />

                    </li>
                    </a>
                </ul>
            </nav>

        </div>
    </div>
</div>


