@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section addStyle{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .container-fluid {
            background: transparent;
        }
    </style>
}


@section title{
    İLETİŞİM
} 

@section main{

    <div class="row bann leish1">
        <div class="col-md-auto col-xs-12 text-center">
            <p class="rappel_title">
            </p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-offset-6 pdt20 pdr20 text-right">
            <span style="color: black; font-size: 22px; font-weight: bold;">İLETİŞİM</span>
            <br />
            <a href="mailto:info.tr@merck.com">info.tr@merck.com</a>
            <br />
            Tel:+90 212 336 10 00
            <br />
            Fax:+90 212 355 02 02
            <br />
        </div>
    </div>




}


@section articleLinks{

}

