@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section addStyle{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .container-fluid {
            background: transparent;
        }
    </style>
}


@section title{
    Mentions légales
}

@section main{

    <div class="row bann leish1">
        <div class="col-md-auto col-xs-12 text-center">
            <p class="rappel_title">
            </p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pdt20 text-justify">
            @*<p>
                    <b class="yellow">SCALIBOR® </b><b>Collier. Indications :</b> chez les chiens, affections à parasites sensibles à la deltaméthrine : prévention des infestations par les tiques pendant 6 mois, prévention des piqûres de phlébotomes pendant 5 mois, prévention des piqûres de moustiques (<i>Culex pipiens</i>) pendant 6 mois. <b>Contre-indications : </b>
                    en l’absence de données disponibles, ne pas utiliser chez les chiots de moins de 7 semaines. <b>Précautions particulières à prendre par la personne qui administre le médicament :</b> se laver les mains à l’eau froide et au savon après manipulation du collier. Eviter le contact avec la peau. Ne pas laisser les enfants jouer avec le collier. Les enfants devraient éviter un contact intense et prolongé avec un chien porteur du collier. Conserver à l’écart des aliments et boissons, y compris ceux pour animaux. Ne pas manger, boire ou fumer pendant la mise en place du collier. Ne pas manipuler le collier en cas d’hypersensibilité connue à l’un des composants du collier ou à tout autre pyréthroïde. En cas de symptômes sévères, comme gonflement de la face, et/ou gêne respiratoire, prendre immédiatement un avis médical en montrant la notice du produit.
                    <b>Pour plus d’information, consulter la notice et demander conseil à un vétérinaire. Ce produit est un médicament vétérinaire. En cas de persistance des symptômes, consulter votre vétérinaire. Usage vétérinaire. </b>Intervet - 49071 BEAUCOUZE CEDEX
                    <br/>
                </p>*@
        </div>
    </div>




}


@section articleLinks{

}

