@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section addStyle{
    <style>
        .container-fluid {
            background: transparent;
        }
    </style>
}


@section title{
    Mentions légales
}

@section main{
    
    <div class="row bann leish1">
        <div class="col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-12">
            <p class="rappel_title">
            </p>
            <h2>Mentions légales</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pdt20 text-justify">
            <p>
                Yumurtacı sahaya vizyon ve dinamizm katacak; güncel bilgi ve tecrübelerini aktarabilecek ulusal ve uluslararası danışmanları ALTIN DANIŞMAN konseptiyle sizlerle buluşturuyoruz.
            </p>
            <img src="/img/Banner8.png" alt="Ana başlık" style="width:100%;"/>
        </div>
    </div>




}


@section articleLinks{

}

