@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section addStyle{
    <style>
        .container-fluid {
            background: transparent;
        }
    </style>
}


@section title{
    Mentions légales
}

@section main{
    
    <div class="row bann leish1">
        <div class="col-md-auto col-xs-12 text-center">
                <h2>ALTIN TEKNİK</h2>
        </div>
     </div>

        <div class="row">
            <div class="col-md-12 pdt20 text-justify">
                <p>ALTIN TEKNİK aşağıdaki uygulama ve servisleri içermektedir.</p>
                <p>
                    <u>UYGULAMALAR</u>
                    <ul>
                        <li>Görsel Raporlama</li>
                        <li>Teknolojik Ekipman</li>
                        <li>Yüksek Laboratuvar Teknolojisi</li>
                    </ul>
                </p>
                <p>
                    <u>SERVİSLER:</u>
                    <ul>
                        <li>Kloakal ve Trakeal Örneklendirme</li>
                        <li>Nekropsi Eğitimleri</li>
                        <li>Rekombinant Aşı Teknolojileri</li>
                        <li>Uzun Dönem ND-IB-SHS Koruma Programlarının Oluşturulması</li>
                        <li>MG Koruma Programı Oluşturulması</li>
                        <li>ILT Koruma Programı Oluşturulması</li>
                        <li>Sertifikasyon Programları</li>
                        <li>Teknik Bülten Yayınları</li>
                        <a href="/Altinekipman/Altinekipman">Buraya tıklayarak teknik bültenlerimize ulaşabilirsiniz?</a>
                    </ul>
                </p>
                <img src="/img/Banner9.jpg" alt="Ana başlık" style="width:100%;" />
            </div>
        </div>




    }


    @section articleLinks{

    }

