@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section addStyle{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .container-fluid {
            background: transparent;
        }
    </style>
}


@section title{
    Hakkımızda
}

@section main{

    <div class="row bann leish1">
        <div class="col-md-auto col-xs-12 text-center">
            <p class="rappel_title">
            </p>
            <h2>HAKKIMIZDA</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pdt20 text-justify">
            <p>
                ALTIN DOKUNUŞ, MSD Hayvan Sağlığı Kanatlı Bölümü olarak, yumurtacı iş alanına sunduğumuz teknik servislerin ve pazarlama destek programlarının tek çatı altında birleştirildiği <b>Türkiye’nin İlk Yumurtacı Değer Servisi’dir.</b>
            </p>
            <p>
                MSD Hayvan Sağlığı olarak, “Daha Sağlıklı Hayvanlar İçin Bilim” sözümüz doğrultusunda, veteriner ilaçları, aşı, sağlık yönetimi çözümleri ve dijital platformlar, sürü takibi ve sürü takibi ürünleri gibi hizmetleri veteriner hekimler, çiftçiler, hayvan sahipleri ve diğer bütün müşterilerimize sunmaktan gurur duyuyoruz.
                Biz, hayvanların ve onlara bakan kişilerin sağlığını, refahını ve performansını korumaya ve geliştirmeye öncelik verip bu amaç doğrultusunda çalışıyoruz. Dinamik ve kapsamlı Ar-Ge kaynaklarına ve modern, küresel tedarik zincirine önemli yatırımlar yapıyoruz. MSD Hayvan Sağlığı olarak, 50'den fazla ülkede operasyonlarımıza devam ediyoruz; ürünlerimiz ise 150 pazarda satışa sunuluyor.
                <br />
                Müşterilerimize 10 yıldan uzun bir süre boyunca, distribütörlerimiz kanalıyla ulaştıktan sonra İntervet Veteriner İlaçları Pazarlama ve Ticaret Limited Şirketi olarak Mayıs 2000’de Türkiye’de yerel bir satış-pazarlama organizasyonu kurarak, operasyonlarımıza başladık. İlk olarak, kanatlı ve pet aşılarından oluşan geniş biyolojik portföyümüz ve ruminantlara yönelik güçlü farmasötik ürünlerimizle yola koyulduk. Bugün de, pazara sunduğumuz birçok yeni ürünle daha da genişleyen portföyümüz ve özverili ekibimizle, kanatlı, ruminant ve evcil hayvan sektörüne hizmete devam ediyoruz.
                <br />
                Amacımız, Türkiye’nin hayvan sağlığı statüsünün yükseltilmesi çabalarına, kaliteli ürün temini ve müşterilere güvenilir teknik hizmet sağlamak suretiyle katkıda bulunmak.
                <br />
                <br />
                <h4><b>VİZYONUMUZ</b></h4>
                <br />
                “Daha Sağlıklı Hayvanlar İçin Bilim”
                <br />
                Yeni ve değerli hayvan sağlığı ürünleri ve çözümleri sunmaya ve böylelikle hayvan sağlığının iyileşmesine liderlik eden bir güç olmaktır.
                <br />
                Sürdürülebilir kaliteli gıda tedariğinin temini, kamu sağlığının korunması ve insanlarla evcil hayvanların hayatın keyfini birlikte çıkarmalarına yardımcı olmak için çaba göstermeye devam edeceğiz.
                <br />
                <br />
                <h4><b>MİSYONUMUZ</b></h4>
                <br />
                Hayat kurtaracak ve hayat koşullarını iyileştirecek özgün, yenilikçi ürün ve hizmetleri sağlamak, çalışanlarca sevilen bir şirket olmak ve yatırımcılara yüksek getiri oranları sağlamaktır.
            </p>
        </div>
    </div>




}


@section articleLinks{

}

