@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section addStyle{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .container-fluid {
            background: transparent;
        }
    </style>
}


@section title{
    Avertissement
}

@section main{

    <div class="row bann leish1">
        <div class="col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-12">
            <p class="rappel_title">
            </p>


        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pdt20 text-justify">
                <div id="middleColumnContainer" class="content-text">

                    <div class="box gc ">
                        <h3 class="yellow" style="margin: 0cm 0cm 0pt;">Tanımlar ve Koşullar</h3>
                        <p>Bu Web Sitesine girmeden veya bu Web Sitesindeki bilgileri kullanmaya başlamadan önce aşağıdaki tanım ve koşulları okuyup kabul etmeniz gerekir. Bu Web sitesine girmeniz veya bu Web Sitesindeki herhangi bir bilgiyi kullanmanız aşağıdaki tanım ve koşulları kabul ettiğiniz ve bu Web Sitesini veya bu Web Sitesindeki herhangi bir malzeme, bilgi, fikir veya öneriyi kullanmanızdan kaynaklanacak Intervet, şubeleri, iştirakleri ve çalışanları aleyhindeki herhangi bir ve bütün suçlama haklarınızdan vazgeçtiğiniz anlamına gelir.</p>
                        <p>Bu kayıt ve şartlar ek olarak aşağıdaki maddelerden oluşur:</p>
                        <h3 class="yellow" style="margin: 0cm 0cm 0pt;">Bilgilendirme ve Feragat</h3>
                        <p>Bu Web Sitesi veya bu Web Sitesindeki Intervet, şubeleri, iştirakleri, ürünleri ve servisleri ile ilgili veya hakkındaki bilgiler, resimler, logolar ve ikonlar olduğu gibi ve elde olan şekilde, ima edilmiş ya da söylenmiş herhangi bir garanti veya temsil olmaksızın, işaret edilmiş ticari kanunları içeren ama bunlarla sınırlı olmayan, özel bir amaca hizmet veya bir anlaşmayı bozmaya yönelik olmadan sağlanmıştır.Bu Web Sitesindeki bilgiler Intervet ve onun ürünleri ve servisleri hakkında bilgi vermek amacıyla iyi niyetle hazırlanmasına karşın, bu Web Sitesine erişim veya kullanımdan veya bu Web Sitesindeki malzeme, bilgi, fikri veya önerilerin kullanımından kaynaklanan herhangi, bunlarla sınırlı olmadan ve bunları içeren, direk, dolaylı, özel, kaza sonucu veya bir başka nedenden kaynaklanabilecek zararlardan Intervet, şubeleri, bağlı olduğu şirketler, iştirakleri ve çalışanları sorumlu tutulamaz.</p>
                        <p>Intervet herhangi bir uyarıda bulunmaksızın Tanım ve Koşullar üzerinde, bu Web Sitesi üzerinde ve bu Web Sitesi içerisindeki bilgi, isimler, resimler, logolar ve ikonlar üzerinde ayarlamalar, güncellemeler ve/veya değişiklikler yapabilir.</p>
                        <p>Bu Web Sitesi Intervet’in kontrolü altında olmayan başka web sitelerine bağlantı veya referans içerebilir. Intervet bu sitelerin içerikleri veya içerdikleri diğer bağlantılardan sorumlu değildir.</p>
                        <p>Bu Web Sitesindeki herhangi bir bilgiyi kısmen veya bütün olarak değiştirmemeyi ve düzeltmemeyi, herhangi bir bilgi eklememeyi kabul ediyorsunuz.</p>
                        <h3 class="yellow" style="margin: 0cm 0cm 0pt;">Finansal Veri</h3>
                        <p>Bu sitede bulunabilecek yıllık raporlar ve finansal hesap özetleri gibi finansal verilerin sadece kağıt üzerinde yazılı olan versiyonları gerçek kabul edilir.</p>
                        <h3 class="yellow" style="margin: 0cm 0cm 0pt;">Fikri Mülkiyet</h3>
                        <p>Bu Web Sitesinde gösterilen, bunları içeren ama bunlarla sınırlı olmayan, bütün makaleler, yazılar, fotoğraflar, örnekler ve diğer grafiksel malzemeler ve isimler, logolar, ticari markalar ve servis markaları, Intervet veya onun şubeleri, iştirakleri veya lisans firmalarının malıdır ve ticari marka, telif hakkı ve diğer fikri mülkiyet kanunları tarafından korunmaktadırlar. Bu Web Sitesinde adı geçen diğer ürünler ve şirketler sahiplerinin ticari markaları olabilir. Bu ve benzeri malzemeyi ve parçalarını yeniden üretmeniz, yollamanız, dağıtmanız, bozmanız, satmanız, yayınlamanız ya da dolaştırmanız yasaktır:</p>
                        <p>a. Bu Web Sitesindeki malzemeleri kendi ticari olmayan, bilgi alma amaçlı ve kişisel kullanımınız için indirebilir veya yazdırabilirsiniz; ya da</p>
                        <p>b. Bu Web Sitesindeki malzemeleri herhangi bir ticari amaç olmadan üçüncü şahıslara onların kişisel bilgilendirilmeleri için, içeriğin Intervet tarafından sağlandığını ve bu kayıt ve şartların onlara da uygulandığını ve bunlara uymak zorunda olduklarını belirtmek şartıyla, gönderebilirsiniz.</p>
                        <p>Burada bulunan hiçbir şey, Intervet’e ya da üçüncü şahıslara ait herhangi bir patent veya ticari marka altındaki herhangi bir lisans veya hak, ima, doktrin veya herhangi başka birşey ile tartışmaya açık olarak yorumlanamaz.</p>
                        <p>Ayrıca yukarıda da açık şekilde ifade edildiği gibi burada bulunan hiçbir şey, herhangi bir lisans veya haktan herhangi bir telif hakkı veya belirtilen bilgi, veri, ürünler ve servislerle ilişkili diğer fikri mülkiyet haklarına kadar, tartışmaya açık olarak yorumlanamaz</p>
                        <h3 class="yellow" style="margin: 0cm 0cm 0pt;">Uygulanabilir Hukuk ve Yargı Hakkı</h3>
                        <p>Bu kayıt ve şartlar Hollanda hukukuna göre yorumlanır, yönetilir ve uygulanır. Buradan kaynaklanan herhangi bir ve bütün anlaşmazlıklar Hollanda yetkili mahkemelerine gönderilir ve bu mahkemelerce karara bağlanır.</p>
        </div>

    </div>
    </div>
    </div>


}


@section articleLinks{

}

