@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@section addStyle{

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="~/Content/jquery.bxslider.js"></script>
    <link href="~/Content/jquery.bxslider.css" rel="stylesheet" />
    <script>
    $(document).ready(function () {
        $('.bxslider').bxSlider();
    });
    </script>

}


@section title{
    Altın Servisler
}

@section main{


    <link href="~/Content/jquery.bxslider.css" rel="stylesheet" />

    <div class="clearfix" style="margin-bottom:7%"></div>

    @*<div class="bx-wrapper" style="max-width: 100%;">

       

        
    </div>*@


    <div class="row pdt30">
        <div class="col-md-12"><p>İşinizi kolaylaştırmak, sorunlarınıza çözüm üretmek ve günün sonunda işinize değer sağlamak adına yumurtacı iş alanında farklı teknik ve pazarlama destek programları yürütüyoruz.</p></div>
    </div>
    <div class="row pdt30">
        <div class="col-md-8 col-md-offset-2 linksHome text-center">
            <div class="around pdt20">
                <img class="img-responsive" src="~/img/5.png" alt="leishmaniose" />
                <h2>ALTIN EKİPMAN</h2>
                <p class="text-left">
                    MERCK Aşı uygulamalarının biyogüvenlik ve yönetim (management) şartları ile uyumlu şekilde yönetilmesine olanak sağlayan ekipman servisidir.
                    Ekipmanlardan sorumlu aşılama teknolojileri bölümümüz, aşı ekipmanı işletmenize teslim edildiği andan itibaren, ekipmanın doğru şekilde uygulanması için yerinde eğitim serilerine başlamakta, ekipman yönetiminde takip ve kontrol süreçlerindeki tüm detayları size raporlamaktadır.
                    <br />
                    <br />
                    Altın Ekipman aşağıdaki uygulamaları merck kapsamaktadır:
                </p>
                <p class="text-left">
                    •	Uygun ve Kaliteli Ekipman<br />
                    •	Yerinde Uygulama ve Kayıt<br />
                    •	Yerinde Servis ve Bakım<br />
                    •	Görsel Raporlama<br />
                </p>
            </div>
        </div>
    </div>
    <div class="row pdt30">
            <div class="col-md-8 col-md-offset-2 linksHome text-center">
                <div class="around pdt20">
                    <img class="img-responsive" src="~/img/6.png" alt="Altın Dokunuş" />
                    <h2>ALTIN KONTROL</h2>
                    <p class="text-left">
                        Canlı, inaktif ve rekombinant aşıların soğuk zincir, depolama, hazırlama ve uygulama süreçlerinin sistemli ve detaylı bir şekilde incelendiği ve raporlandığı kontrol sistemidir. Bu kontrol sistemi sürülerin sadece aşı alıp almadığını değil, aşılama yapılan ortam şartlarınının yönetimi ve biyogüvenliğini de içerir.
                        <br />
                        <br />
                        Altın Kontrol aşağıdaki uygulamaları kapsamaktadır:
                    </p>
                    <p class="text-left">
                        •	Görsel Raporlama<br />
                        •	Teknolojik Ekipman<br />
                        •	Yüksek Laboratuvar Teknolojisi<br />
                        •	Teknik Konsultasyon<br />
                    </p>
                </div>
            </div>
    </div>
    <div class="row pdt30">
            <div class="col-md-8 col-md-offset-2 linksHome text-center">
                <div class="around pdt20">
                    <img class="img-responsive" src="~/img/8.png" alt="leishmaniose" />
                    <h2>ALTIN GLOBAL</h2>
                    <p class="text-left">
                        •   Hayvan sağlığını ilgilendiren farklı sağlık platformları üzerinde, yetkinliği dünyada kabul gören saygın uzmanların desteği ile işletmelere kolay, güvenilir ve kesin çözümler sunan uluslararası bir servistir.
                        <br />
                        <br />
                        Altın globalin kapsadığı sağlık platformları ;<br />
                        •   Kırmızı Bit Koruma ve Kontrol<br />
                        •   Solunum Sağlığı<br />
                        •   Dinamik İmmunite (Bağışıklık Sistemi)<br />
                        •   Antibiyotiksiz Üretim<br />
                        •   Kuluçka Yönetimi<br />
                        •   Bakteriyel Hastalıklara Karşı Koruma Kontrol<br />
                        •   Viral Hastalıklara Karşı Koruma ve Kontrol<br />
                        <br />
                        <b>Altın Global aşağıdaki uygulamaları içermektedir:</b><br />
                        •	Saha ve Kuluçka İyi Uygulamaları<br />
                        •	Ekip Eğitimleri ve Sertifikasyon<br />
                        •	Görsel Raporlama<br />
                    </p>
                </div>
            </div>
        </div>
   
    <div class="row pdt30">
        <div class="col-md-8 col-md-offset-2 linksHome text-center">
            <div class="around pdt20">
                <img class="img-responsive" src="~/img/10.png" alt="Altın Dokunuş" />
                <h2>ALTIN TEKNİK</h2>
                <p class="text-left">
                    Yumurta üreticilerinin problemlerine çözüm üretmek amacıyla geliştirdiğimiz güçlü ve güncel bilgi havuzu ile pratik saha uygulamalarını içermektedir.
                    <br />
                    <br />
                    ALTIN TEKNİK EĞİTİM ve UYGULAMALARI
                    <br />
                </p>
                <p class="text-left">
                    •	Kloakal ve Trakeal Örneklendirme
                    <br />
                    •	Nekropsi Eğitimi
                    <br />
                    •	İçme suyu Aşılama Eğitimi
                    <br />
                    •	Sprey Aşılama Eğitimi
                    <br />
                    •	Enjeksiyon Aşılama Eğitimi
                    <br />
                    •	Rekombinant Aşı Teknolojileri Eğitimi
                    <br />
                    •	Uzun Dönem ND-IB-SHS Koruma Programlarının Oluşturulması
                    <br />
                    •	MG Koruma Programı Oluşturulması
                    <br />
                    •	ILT Koruma Programı Oluşturulması
                    <br />
                    •	Teknik Bültenler
                    <br />
                    <br />
                    <b>
                        Buraya tıklayarak teknik bültenlerimize ulaşabilirsiniz.
                    </b>
                    <br />
                    <ul class="text-left">
                        <li class="arrow"><a href="/AltinEkipman/AltinEkipman1">Aşı uygulamasında dikkat edilmesi gereken noktalar</a></li>
                        <li class="arrow"><a href="/AltinEkipman/AltinEkipman2">Aşılama başarısızlıklarında dikkat edilmesi gereken faktörler</a></li>
                        <li class="arrow"><a href="/AltinEkipman/AltinEkipman3">MG enfeksiyonuna <b>karşı</b> korumacı hekimlik</a></li>
                        <li class="arrow"><a href="/AltinEkipman/AltinEkipman4">Yumurtacı sürülerde SHS enfeksiyonları</a></li>
                        <li class="arrow"><a href="~/pdf/Ticari Yumurtacılarda Baş Ağrısı MG .pdf">Ticari Yumurtacılarda Baş Ağrısı <b>Mycoplasma Gallisepticum</b></a></li>
                        <li class="arrow"><a href="~/pdf/Aşı Beklemez - Mycoplasma Gallisepticum.pdf">Aşı Beklemez – Mycoplasma Gallisepticum</a></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="row pdt30">
        <div class="col-md-8 col-md-offset-2 linksHome text-center">
            <div class="around pdt20">
                <img class="img-responsive" src="~/img/Altin Bulusmalar.jpg" alt="Altın Dokunuş" />
                <h2>ALTIN BULUŞMALAR</h2>
                <p class="text-left">
                    Yumurtacı sektör paydaşları ile bir araya geldiğimiz, onların ihtiyaçlarına yönelik, teknik donanımlarına katkı sağlayacak ve problemlerine çözüm olabilecek içeriklere sahip interaktif eğitimler, sözlü ve görsel paylaşımlar ve tartışma platformlarından oluşur.
                </p>
            </div>
        </div>
    </div>



}

@section articleLinks{

}



